/* Common CSS Start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  :root{
    --poppins: "Poppins", sans-serif;
    --primary: #ef4a23;
    --default: #081621;
    --fcGray: #666;
    --fcWhite: #fff;
}
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  ul,
  li {
    list-style-type: none;
  }
  span {
    display: inline-block;
  }  
  /* Common CSS End */















  
/* Footer part start */
#footer{
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--fcGray);
  background-color: var(--default);
  margin-top: 50px;
}
footer .footerTitle {
  color: var(--fcWhite);
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.footerBtn {
  width: 277px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 32px;
  border: 1px solid rgba(255,255,255,.1);
  padding: 10px 2px 10px 50px;
  margin-bottom: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: relative;
  transition: all linear 0s;
  -webkit-transition: all linear 0s;
  -moz-transition: all linear 0s;
  -ms-transition: all linear 0s;
  -o-transition: all linear 0s;
}
.footerBtn:hover{
  border-color: var(--primary);
}
.footerBtn::after {
  content: "";
  width: 1px;
  height: 60%;
  background-color: #666;
  position: absolute;
  top: 50%;
  left: 87px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.footerBtn i{
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--fcWhite);
}
.footerBtn p{
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255,255,255,.5);
}
.footerBtn h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--primary);
  padding: 0;
  margin: 0;
}
.footerAboutUs{
  display: flex;
  justify-content: space-between;
  align-items: safe;
}
#footer .footerContact{
  padding: 0;
}
#footer .footerContact li {
  width: 32%;
  display: inline-block;
  padding-bottom: 16px;
}
#footer .footerContact li {
  font-size: 14px;
  font-weight: 400;
  color: var(--fcGray);
  line-height: 80%;
  margin: 0;
}
#footer .connected h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--fcWhite);
  margin: 0;
  padding-top: 11px;
}
#footer .connected p {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: var(--fcGray);
  margin: 0;
  padding-top: 11px;
}
#footer .connected p b {
  display: block;
  margin: 8px 0;
}
/* Footer part end */