/* Common CSS Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

:root {
  --poppins: "Poppins", sans-serif;
  --primary: #ef4a23;
  --default: #081621;
  --fcGray: #666;
  --fcWhite: #fff;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

span {
  display: inline-block;
}

/* Common CSS End */
/* ---------------NAVBAR CSS STARTS--------------- */
/* =======Header part start===== */
header {
  background: #081621;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}

header .top {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top .logo a {
  width: 117px;
  height: 52px;
}

.nav_search input {
  width: 600px;
  font-size: 15px;
  text-transform: capitalize;
  padding: 8px 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.nav_search input::placeholder {
  color: #757575;
}

.nav_search {
  position: relative;
}

.nav_search .search {
  position: absolute;
  top: 12px;
  right: 15px;
}

.ht_wrap {
  display: flex;
  gap: 24px;
  align-items: center;
}

.ht_item ul {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: -10px;
  padding-left: 0;
  margin-bottom: 0px;
  line-height: 0;
}

.ht_item ul li i {
  margin-top: 10px;
  color: #ef4a23;
  font-size: 18px;
}


.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    color: white;
  }
}

.ht_item ul li h4 {
  font-size: 15px;
  color: #fff;
  line-height: 20px;
  text-transform: capitalize;
}

.ht_item ul li p {
  font-size: 11px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}

.ht_item .btn {
  background: linear-gradient(45deg,
      #00237e,
      #3749bb,
      #0bc1e9,
      #3749bb,
      #00237e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* =======Header part end===== */
/* =======Navbar part start===== */
nav {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

/* .navbar-nav {
  margin-left: -10px;
} */

.navbar-nav .nav-link {
  padding: 10px 7px;
  display: block;
  /* line-height: 50px; */
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 700;
  color: #222;
}

/* =======Navbar part end===== */
/* ---------------NAVBAR CSS END--------------- */
/* ---------------BANNER CSS STARTS--------------- */
/* ---------------BANNER CSS END--------------- */


/* <!-- Featured Category start --> */

#category {
  padding-top: 50px;
  background-color: #f2f4f8;
  padding-bottom: 50px;
}

#category .title h2 {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 5px;
}

#category .title p {
  font-size: 15px;
  color: #01132d;
  line-height: 26px;
  text-align: center;
  margin-bottom: 25px;
}

#category .cat-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  padding-bottom: 60px;
}

#category .cat-item {
  flex: 0 0 12.33%;
  padding: 0 5px;
  margin-bottom: 20px;
  text-align: center;
}

#category .cat-item .cat-item-inner {
  display: block;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  padding-bottom: 5px;
}

#category .cat-item .cat-item-inner:hover {
  text-decoration: none;
  color: #ef4a23;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

#category .cat-item .cat-icon {
  display: inline-block;
  padding: 15px;
}

#category .cat-item p {
  font-size: 15px;
}

#category .storepart {
  background: linear-gradient(125deg, #0bc1e9, #3749bb, #00237e);
  animation: gradient 15s ease infinite;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#category .storepart .store-inside {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#category .storepart .info {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  padding-left: 55px;
  padding-bottom: 20px;
}

#category .store-inside .icn {
  height: 48px;
  width: 48px;
  font-size: 45px;
}

#category .store-link {
  display: flex;
  padding-right: px;
  padding-left: 15px;
  padding-right: 45px;
}

#category .store-button {
  background: #ef9919;
  padding: 17px 50px;
  border-radius: 50px;
  font-size: 15px;
  line-height: 20px;
  height: auto;
  border: none;
  width: fit-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#category .store-button:hover {
  box-shadow: 0 60px rgba(0, 0, 0, 0.2) inset;
}

/* <!-- Featured Category end --> */


/* content-area start here  */
#content-area {
  padding-top: 60px;
  padding-bottom: 30px;
}

#content-area .long-content h1 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 0 20px;
}

.long-content h2 {
  font-weight: 500;
  font-size: 18px;
  margin: 25px 0 12px;
  line-height: 26px;
}

.long-content p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #01132d;
  line-height: 26px;
}
.long-content p a {
  color: #ef4a23;
}
/* content-area end here  */

/* Footer part start */
#footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--fcGray);
  background-color: var(--default);
  margin-top: 50px;
}

footer .footerTitle {
  color: var(--fcWhite);
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footerBtn {
  width: 277px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 2px 10px 50px;
  margin-bottom: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: relative;
  transition: all linear 0s;
  -webkit-transition: all linear 0s;
  -moz-transition: all linear 0s;
  -ms-transition: all linear 0s;
  -o-transition: all linear 0s;
}

.footerBtn:hover {
  border-color: var(--primary);
}

.footerBtn::after {
  content: "";
  width: 1px;
  height: 60%;
  background-color: #666;
  position: absolute;
  top: 50%;
  left: 87px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.footerBtn i {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--fcWhite);
}

.footerBtn p {
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.footerBtn h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--primary);
  padding: 0;
  margin: 0;
}

.footerAboutUs {
  display: flex;
  justify-content: space-between;
  align-items: safe;
}

#footer .footerContact {
  padding: 0;
}

#footer .footerContact li {
  width: 32%;
  display: inline-block;
  padding-bottom: 16px;
}

#footer .footerContact li {
  font-size: 14px;
  font-weight: 400;
  color: var(--fcGray);
  line-height: 80%;
  margin: 0;
}

#footer .connected h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--fcWhite);
  margin: 0;
  padding-top: 11px;
}

#footer .connected p {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: var(--fcGray);
  margin: 0;
  padding-top: 11px;
}

#footer .connected p b {
  display: block;
  margin: 8px 0;
}

/* Footer part end */


#banner {
  padding: 30px 0;
  background: #f2f4f8;
}

/* ---banner slider--- */
.banner-slider {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .03);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #898e94;
}

.carousel-dark .carousel-indicators .active {
  background-color: #ef4a23;
}

.carousel-indicators [data-bs-target] {
  height: 8px;
}

.carousel-indicators {
  gap: 5px;
}

/* ----banner form---- */
.compare_product {
  background: #ffe8a1;
  margin-bottom: 30px;
  padding: 25px 30px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .03);
}

.compare_product h4 {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 4px;
}

.compare_product p {
  color: #000;
  text-align: center;
  margin: 0 0 14px;
  font-size: 12px;
  font-weight: 500;
  opacity: .5;
}

.product_search {
  position: relative;
}

.product_search input {
  font-size: 14px;
  font-weight: 500;
  height: 42px;
  padding: 5px 15px;
  background: #fff;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 30px 5px 15px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .05);
}

.product_search i {
  position: absolute;
  top: 14px;
  right: 8px;
  opacity: 0.5;
}

.compare_product form button {
  width: 100%;
  background: transparent;
  color: #3749bb;
  display: inline-block;
  border: 2px solid #3749bb;
  height: 42px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  transition: all .3s linear;
}

.compare_product form button:hover {
  background: #3749bb;
  color: #FFF;
}

.ad_img {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .03);
  width: 305px;
  height: 193px;
}

/* ----banner link wrap---- */
.link-wrap{
  margin-top:50px;
  margin-bottom: 30px;
}
.banner_link_item{
  background: #FFF;
  padding: 15px 20px;
  display: flex;
  gap: 24px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.banner_link_item .icon{
  background: #ef4a23;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
}
.banner_link_item .finder h4{
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 0;
}
.banner_link_item .finder p{
  font-size: 15px;
  color: #444;
  margin-bottom: 0;
  line-height: 26px;
}
/* ---sliding text--- */
.sliding-text{
  background: #FFF;
  font-size: 14px;
  padding: 12px 20px 8px;
  border-radius: 33px;
  color: #444;
  min-height: 40px;
}
/* ---------------BANNER CSS END--------------- */
/* cart start */

.f-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  background: #081621;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  width: 59px;
  height: 59px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), -5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.f-btn:hover {
  background: #3749bb;
}
.f-btn i {
  margin: 13px 0 5px;
  height: 20px;
  width: 24px;
  font-size: 20px;
}
.f-btn .label {
  opacity: 0.8;
}
.f-btn span.counter {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: #ef4a23;
  line-height: 20px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* cart end */
/* compare start */

.c-btn {
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 99999;
  background: #081621;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  width: 59px;
  height: 59px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), -5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.c-btn:hover {
  background: #3749bb;
}
.c-btn i {
  margin: 13px 0 5px;
  height: 20px;
  width: 24px;
  font-size: 20px;
}
.c-btn .label {
  opacity: 0.8;
}
.c-btn span.counter {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  background: #ef4a23;
  line-height: 20px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
/* compare start */
span {
  display: inline-block;
}  
/* Common CSS End */


/* ======================== */
#product-section{
margin-top: 50px;
margin-bottom: 50px;
}
#product-section h2{}
#product-section p{}
img{
max-width: 100%;
}

.product{
max-width: 19%;
background-color: #FFFFFF;
border-radius: 5px;
box-shadow: 0 1px 1px rgba(0,0,0,.1);
display: flex;

}
.product:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
   
}

.value .mark{
background-color: #6E2594;
padding: 2px 10px;
border-radius: 0 24px 30px 0px;
margin-top: 20px;
margin-left: -13px;
color: #fff;
font-size: 12px;

}

.product-item-image{
border-bottom: 3px solid rgba(55,73,187,.03);
}
.product-item-image img{
margin-bottom: 30px;
}

.tclGb{
margin-top: 20px;
}
.tclGb h4{
color: #666;
font-size: 16px;
font-weight: 600;
transition: .3s;
margin-bottom: 50px;
}

.tclGb h4 :hover{
color: #EF4A23;
border-bottom: 1px solid #EF4A23;

}

.new-price{
line-height: 22px;
font-size: 17px;
font-weight: 600;
color: #EF4A23;
}
.old-price{
font-size: 12px;
font-weight: 600;
text-decoration: line-through;
color: #666;
padding-left: 5px;
padding-bottom: 20px;
}


/* ============================== */

